@charset "utf-8";

/*
css name : common
use : align,display,layout,header,footer,lnb,aside
*/

/* ==================================================
	웹 폰트
================================================== */
@font-face {font-family:OpenSans;font-weight:400;font-style:normal;src:url(../font/OpenSans-Regular.eot);src:local(※),url(../font/OpenSans-Regular.woff) format('woff')}
@font-face {font-family:OpenSans;font-weight:600;font-style:normal;src:url(../font/OpenSans-Semibold.eot);src:local(※),url(../font/OpenSans-Semibold.woff) format('woff')}
@font-face {font-family:OpenSans;font-weight:700;font-style:normal;src:url(../font/OpenSans-Bold.eot);src:local(※),url(../font/OpenSans-Bold.woff) format('woff')}
@font-face {font-family:ng;font-weight:400;font-style:normal;src:url(../font/NanumGothic.eot);src:local(※),url(../font/NanumGothic.woff) format('woff')}
@font-face {font-family:ng;font-weight:600;font-style:normal;src:url(../font/NanumGothicBold.eot);src:local(※),url(../font//font/NanumGothicBold.woff) format('woff')}


/* ==================================================
	RESET
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, xmp,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, 
mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {background-color:#fff;}
ol, ul {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
th,td {vertical-align:middle;box-sizing:border-box;}
a:link, a:visited, a:hover, a:active {color:inherit;text-decoration:none;}
b {font-weight:bold;}
strong {font-weight:600;}
input, textarea, select, button {margin:0;padding:0;font:inherit;}
button {border:0;background:none;outline:none;vertical-align:baseline;cursor:pointer;}
button > span {position:relative;vertical-align:baseline;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0;border:0;}
button[disabled], input[disabled] {cursor:default;}
textarea {overflow:auto;}
textarea, input {resize:none;}
legend {visibility:hidden; font-size:0;}
audio:not([controls]) {display:none;height:0;}
svg:not(:root){overflow:hidden;}
input[type="text"]::-ms-clear,
input[type="password"]::-ms-clear{display:none;}

input[type="button"],
input[type="reset"],
input[type="submit"]{border-radius:0;-webkit-appearance:button;appearance:button;cursor:pointer;}
button,
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {border-radius:0;-webkit-border-radius:0;appearance:none;-webkit-appearance:none;}
select {-webkit-border-radius:0;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{margin:0;-webkit-appearance:none;}


/* ==================================================
	공통레이아웃
================================================== */
html,body{width:100%;height:100%;color:#222;font-family:'OpenSans',OpenSans,'nanum gothic','나눔고딕',ng,sans-serif;font-size:12px;line-height:1.2;}
body{position:relative;}
img{max-width:100%;}
#wrap {position:relative;width:100%;min-width:1200px;min-height:100%;}
.inner_align {width:1200px;margin:0 auto;}


/* ==================================================
	header
================================================== */
#header {z-index:1;width:100%;background:#fff;}
#header .top_banner {position:relative;width:100%;text-align:center;}
#header .top_banner a {display:block;}
#header .top_banner a img {display:block;width:1200px;margin:0 auto;max-width:none;}
#header .top_banner .btn_close {position:absolute;right:50%;top:50%;width:40px;height:40px;margin-right:-641px;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
#header .top_banner .banner {display:none;}
#header .top_banner .btn_open {position:absolute;right:50%;margin-right:-641px;display:block;width:21px;height:19px;border:1px solid #cfcfcf;border-width:0 1px 1px;background-color:#fff;}
#header .top_banner .btn_open img {vertical-align:middle;}
#header .top_banner.on .banner {display:block;}
#header .top_banner.on .btn_open {display:none;}

#header .top_menu {height:39px;border-bottom:1px solid #e8e8e8;}
#header .top_menu .brand_menu {float:left;font-size:0;}
#header .top_menu .brand_menu > li {position:relative;display:inline-block;}
#header .top_menu .brand_menu > li:first-child:before,
#header .top_menu .brand_menu > li:after {position:absolute;right:0;top:50%;display:block;width:1px;height:15px;margin-top:-7.5px;background-color:#f6f6f6;content:"";}
#header .top_menu .brand_menu > li:first-child:before {left:-1px;right:auto;}
#header .top_menu .brand_menu > li > a {display:block;padding:0 17px;color:#888;font-size:12px;font-weight:600;line-height:39px;}
#header .top_menu .brand_menu > li.on > a {color:#222;}
#header .top_menu .brand_menu > li.on > a:after {position:absolute;left:0;bottom:-1px;display:block;width:100%;height:2px;background-color:#000;content:"";}
#header .top_menu .util_menu {float:right;margin-right:-9px;font-size:0;}
#header .top_menu .util_menu > li {display:inline-block;margin:0 9px;color:#666;font-size:12px;line-height:39px;}
#header .top_menu .util_menu > li .direct {display:inline-block;width:25px;border-radius:2px;background:#969696;color:#fff;font-size:11px;line-height:18px;text-align:center;}
#header .top_menu .util_menu > li .direct.on {background:#bf1d2d;}
#header .top_menu .util_menu > li.visit_direct {position:relative;}
#header .top_menu .util_menu > li.visit_direct .msg_box {display:none;position:absolute;right:-6px;top:29px;z-index:120;width:238px;}
#header .top_menu .util_menu > li.visit_direct:hover .msg_box {display:block;}
#header .header_con .logo {height:88px;line-height:88px;text-align:center;}
#header .header_con .logo img {vertical-align:middle;}
#header .header_con .inner_align {position:relative;}
#header .header_con .header_search_wrap {position:absolute;right:0;top:26px;z-index:110;width:306px;}

.header_search_wrap {border:2px solid #222;border-radius:18px;background-color:#fff;box-sizing:border-box;}
.header_search_wrap .search_box {padding:0 50px 0 7px;}
.header_search_wrap .search_box input {width:100%;height:32px;border:0;background:none;outline:none;}
.header_search_wrap .btn_search {position:absolute;right:12px;top:0;display:block;width:32px;height:32px;}
.header_search_wrap .search_ranking {position:absolute;left:0;top:0;overflow:hidden;width:100%;height:32px;padding:0 50px 0 17px;border-radius:16px;background-color:#fff;box-sizing:border-box;}
.header_search_wrap .search_ranking .title {display:none;margin-top:10px;color:#222;font-size:16px;font-weight:600;}
.header_search_wrap .search_ranking li {float:none;width:100% !important;color:#666;font-size:13px;line-height:32px;}
.header_search_wrap .search_ranking li .num {display:inline-block;width:20px;color:#cc2334;font-family:'nanum gothic','나눔고딕',ng,sans-serif;font-weight:600;vertical-align:top;}
.header_search_wrap .search_ranking.destroy {position:static;overflow:visible;height:auto;border-top:1px solid #d3d3d3;border-radius:0;}
.header_search_wrap .search_ranking.destroy .title {display:block;}
.header_search_wrap .search_ranking.destroy ol {margin:5px 0 14px;}
.header_search_wrap .search_ranking.destroy li {line-height:26px;}
.header_search_wrap.click .search_ranking {display:none;}
.header_search_wrap .search_keyword {display:none;}
.header_search_wrap .search_keyword .search_tab {width:100%;border-bottom:1px solid #d3d3d3;}
.header_search_wrap .search_keyword .search_tab .tab-menu button {float:left;width:50%;border:1px solid #dcdcdc;border-width:1px 0;background-color:#f5f5f5;color:#666;font-size:13px;line-height:34px;text-align:center;}
.header_search_wrap .search_keyword .search_tab .tab-menu button.active {border-color:#222;background-color:#222;color:#fff;}
.header_search_wrap .search_keyword .search_tab .tab-content {width:100%;height:200px;}
.header_search_wrap .search_keyword .recent_keyword {padding:17px 20px 14px 14px;}
.header_search_wrap .search_keyword .recent_keyword .list li {position:relative;margin-bottom:10px;padding-right:30px;}
.header_search_wrap .search_keyword .recent_keyword .list li a {display:block;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#666;font-size:13px;line-height:18px;}
.header_search_wrap .search_keyword .recent_keyword .list li .keyword_del {position:absolute;right:0;top:0;width:18px;height:18px;background:url(../img/btn/btn_keyword_del.gif) no-repeat;text-indent:-9999px;}
.header_search_wrap .search_keyword .recent_keyword .btn_area {margin-top:20px;text-align:right;}
.header_search_wrap .search_keyword .recent_keyword .btn_area .keyword_all_del {padding-right:22px;background:url(../img/btn/btn_keyword_del.gif) no-repeat right center;color:#666;font-size:13px;line-height:18px;}
.header_search_wrap .search_keyword .hot_keyword {padding:14px 0;}
.header_search_wrap .search_keyword .hot_keyword .list {float:left;width:50%;}
.header_search_wrap .search_keyword .hot_keyword .list li {width:100%;padding:0 10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#666;font-size:13px;line-height:28px;box-sizing:border-box;}
.header_search_wrap .search_keyword .hot_keyword .list li .num {display:inline-block;width:20px;}
.header_search_wrap .search_keyword .btn_cls_keyword {width:100%;height:40px;color:#666;font-size:13px;font-weight:600;}
.header_search_wrap.click .search_keyword {display:block;}

#header .gnb_wrap {width:100%;height:42px;background-color:#222;}
#header .gnb_wrap .gnb {float:left;}
#header .gnb_wrap .gnb .main_category {margin-left:-25px;font-size:0;}
#header .gnb_wrap .gnb .main_category > li {position:relative;display:inline-block;margin:0 5px;font-size:14px;}
#header .gnb_wrap .gnb .main_category > li > a {display:block;padding:0 20px;color:#fff;line-height:42px;}
#header .gnb_wrap .gnb .main_category > li > a span {position:relative;display:inline-block;height:100%;}
#header .gnb_wrap .gnb .main_category > li .sub_container {display:none;position:absolute;left:20px;z-index:70;}
#header .gnb_wrap .gnb .sub_container {padding-left:190px;border:1px solid #000;border-width:0 2px 2px;background-color:#fff;}
#header .gnb_wrap .gnb .sub_container:after {clear:both;display:block;content:"";}
#header .gnb_wrap .gnb .sub_container .sub_category {float:left;width:190px;min-height:282px;margin-left:-190px;padding:20px;background-color:#f5f5f5;box-sizing:border-box;}
#header .gnb_wrap .gnb .sub_container .sub_category .sub_cate_name {padding-bottom:12px;border-bottom:2px solid #000;color:#222;font-size:15px;font-weight:600;}
#header .gnb_wrap .gnb .sub_container .sub_category .sub_cate_name .exp {font-family:'nanum gothic','나눔고딕',ng,sans-serif;font-size:13px;font-weight:400;}
#header .gnb_wrap .gnb .sub_container .sub_category .sub_cate_list {margin-top:18px;}
#header .gnb_wrap .gnb .sub_container .sub_category .sub_cate_list > li {margin:8px 0;}
#header .gnb_wrap .gnb .sub_container .sub_category .sub_cate_list > li > a {color:#222;font-family:'nanum gothic','나눔고딕',ng,sans-serif;font-size:13px;font-weight:600;}
#header .gnb_wrap .gnb .sub_container .sub_category .sub_cate_list > li:hover > a {color:#888;}
#header .gnb_wrap .gnb .sub_container .sub_content {float:left;position:relative;width:100%;padding:20px;box-sizing:border-box;}
#header .gnb_wrap .gnb .sub_container .sub_content .banner {width:340px;}
#header .gnb_wrap .gnb .sub_container .sub_content .banner + .goods_list {margin-top:6px;}
#header .gnb_wrap .gnb .sub_container .sub_content .goods_list > li {width:160px;}
#header .gnb_wrap .gnb .sub_container .sub_content .goods_wrap {border:1px solid transparent;}
#header .gnb_wrap .gnb .sub_container .sub_content .goods_wrap:hover {border-color:#000;}
#header .gnb_wrap .gnb .sub_container .sub_content .goods_wrap .over_content {top:0;left:0;width:100%;height:100%;background-color:rgba(255,255,255,.8);
	transform:none;
	-ms-transform:none;
	-webkit-transform:none;
}
#header .gnb_wrap .gnb .sub_container .sub_content .goods_wrap .over_content .info {position:absolute;left:0;top:50%;width:100%;height:auto;margin-top:0;padding-bottom:0;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
#header .gnb_wrap .gnb .main_category > li.on > a span:after,
#header .gnb_wrap .gnb .main_category > li:hover > a span:after {position:absolute;left:0;bottom:0;width:100%;height:4px;background-color:#bf1d2d;content:"";}
#header .gnb_wrap .gnb .main_category > li:hover .sub_container {display:block;}
#header .gnb_wrap .content_menu {float:right;}
#header .gnb_wrap .content_menu > ul {position:relative;display:inline-block;margin-right:7px;padding:0 5px;font-size:0;}
#header .gnb_wrap .content_menu > ul > li {position:relative;display:inline-block;margin:0 3px;font-size:14px;}
#header .gnb_wrap .content_menu > ul > li > a {display:block;padding:0 15px;color:#fff;line-height:42px;}
#header .gnb_wrap .content_menu .fixhd_search_btn {display:none;}
#header .gnb_wrap .content_menu > ul:before {position:absolute;left:0;top:0;width:100%;height:100%;background-color:#bf1d2d;content:"";
	transform:skew(-20deg);
	-ms-transform:skew(-20deg);
	-webkit-transform:skew(-20deg);
}
#header .gnb_wrap .content_menu > ul > li > a span {position:relative;display:inline-block;height:100%;}
#header .gnb_wrap .content_menu > ul > li .sub_menu {display:none;position:absolute;left:15px;width:170px;margin-top:-2px;padding:13px 20px 20px;z-index:70;border:2px solid #000;background:#fff;box-sizing:border-box;}
#header .gnb_wrap .content_menu > ul > li .sub_menu .tit {font-size:15px;font-weight:600;}
#header .gnb_wrap .content_menu > ul > li .sub_menu .tit sup {font-size:17px;vertical-align:2px;}
#header .gnb_wrap .content_menu > ul > li .sub_menu .menu {margin-top:13px;padding-top:8px;border-top:2px solid #000;font-family:'nanum gothic','나눔고딕',ng,sans-serif;font-size:13px;font-weight:600;}
#header .gnb_wrap .content_menu > ul > li .sub_menu .menu > li {margin:9px 0;}
#header .gnb_wrap .content_menu > ul > li .sub_menu .menu > li:hover {color:#888;}
#header .gnb_wrap .content_menu > ul > li:last-of-type .sub_menu {left:auto;right:-16px;}
#header .gnb_wrap .content_menu > ul > li.on > a span:after,
#header .gnb_wrap .content_menu > ul > li:hover > a span:after {position:absolute;left:0;bottom:0;width:100%;height:4px;background-color:#000;content:"";}
#header .gnb_wrap .content_menu > ul > li:hover .sub_menu {display:block;}

#header.header_fix {padding-top:40px;}
#header.header_fix .gnb_wrap {position:fixed;left:0;top:0;z-index:100;height:40px;background-color:rgba(34,34,34,.95)}
#header.header_fix .gnb_wrap .gnb .main_category > li > a,
#header.header_fix .gnb_wrap .content_menu > ul > li > a {line-height:40px;}
#header.header_fix .gnb_wrap .content_menu > ul {margin-right:0;vertical-align:top;}
#header.header_fix .gnb_wrap .content_menu .fixhd_search_btn {display:inline-block;width:38px;height:40px;vertical-align:top;}
#header.header_fix .gnb_wrap .content_menu {position:relative;}
#header.header_fix .header_search_wrap {visibility:hidden;position:fixed;top:0;right:50%;width:340px;margin-right:-595px;}
#header.header_fix .header_search_wrap.click {visibility:visible;}
#header.header_fix .header_search_wrap.on {visibility:visible;}
#header.header_fix .header_search_wrap .search_ranking {display:none;}
#header.header_fix .header_search_wrap .search_keyword {display:block;}
.company #header {position:fixed;left:0;top:0;width:100%;border-bottom:1px solid #222;}
.company #header .gnb_wrap {display:none;}


/* ==================================================
	aside
================================================== */
#sidebar {position:fixed;right:0;top:0;z-index:110;width:50px;height:100%;}
.sidebar_wrap {position:relative;width:100%;height:100%;padding:40px 0;border-left:1px solid #e8e8e8;background-color:#fff;box-sizing:border-box;}
.sidebar_wrap .sidebar_control {position:absolute;left:-1px;top:0;display:block;width:100%;height:40px;border-left:1px solid #bf1d2d;background-color:#bf1d2d;}
.sidebar_wrap .sidebar_control .txt {display:inline-block;color:#fff;font-size:12px;text-indent:-9999px;vertical-align:middle;/* transition:all .1s; */}
.sidebar_wrap .sidebar_menu > ul > li {display:table;width:100%;height:56px;text-align:center;box-sizing:border-box;}
.sidebar_wrap .sidebar_menu > ul > li > a {display:table-cell;width:100%;height:100%;color:#666;font-family:'nanum gothic','나눔고딕',ng,sans-serif;font-size:12px;vertical-align:middle;}
.sidebar_wrap .sidebar_menu > ul > li i {width:31px;background-position:50% 0;}
.sidebar_wrap .sidebar_menu > ul > li .name {display:none;vertical-align:middle;}
.sidebar_wrap .sidebar_menu > ul > li .count {display:block;margin-top:2px;font-size:11px;vertical-align:middle;}
.sidebar_wrap .sidebar_menu > ul > li .icon_sidebar_cart {background-position:0 0;}
.sidebar_wrap .sidebar_recent_view {display:none;width:80px;margin:8px auto;}
.sidebar_wrap .sidebar_recent_view .slide li div {width:80px;height:80px;margin-top:10px;border:1px solid #e8e8e8;box-sizing:border-box;}
.sidebar_wrap .sidebar_recent_view .slide li div:first-of-type {margin-top:0;}
.sidebar_wrap .sidebar_recent_view .bx-controls {position:relative;margin-top:12px;}
.sidebar_wrap .sidebar_recent_view .bx-pager {color:#888;font-family:'nanum gothic','나눔고딕',ng,sans-serif;line-height:20px;text-align:center;}
.sidebar_wrap .sidebar_recent_view .bx-prev,
.sidebar_wrap .sidebar_recent_view .bx-next {position:absolute;top:0;display:block;width:15px;height:20px;text-indent:-9999px;}
.sidebar_wrap .sidebar_recent_view .bx-prev {left:0;background:url(../img/btn/btn_sidebar_slide_larr.png) no-repeat 3px 50%;}
.sidebar_wrap .sidebar_recent_view .bx-next {right:0;background:url(../img/btn/btn_sidebar_slide_rarr.png) no-repeat 5px 50%;}
.sidebar_wrap .sidebar_banner {display:none;margin-top:50px;}
.sidebar_wrap .sidebar_banner li {width:80px;margin:0 auto 10px;}
.sidebar_wrap .sidebar_banner li a,
.sidebar_wrap .sidebar_banner li a img {display:block;}
.sidebar_wrap .sidebar_top_btn {position:absolute;left:-1px;bottom:0;display:block;width:100%;height:40px;border-left:1px solid #222;background-color:#222;color:#fff;font-family:'nanum gothic','나눔고딕',ng,sans-serif;font-size:13px;font-weight:600;}
.sidebar_wrap .sidebar_top_btn > span:before {display:block;width:0;height:0;margin:0 auto 4px;border-bottom:7px solid #fff;border-left:6px solid transparent;border-right:6px solid transparent;content:"";}
#sidebar.on {width:110px;}
#sidebar.on .sidebar_wrap .sidebar_control .icon_sidebar_arr {background-position:-8px 0;}
#sidebar.on .sidebar_wrap .sidebar_control .txt {margin-left:7px;text-indent:0;}
#sidebar.on .sidebar_wrap .sidebar_menu > ul > li {border-top:1px solid #f6f6f6;text-align:left;}
#sidebar.on .sidebar_wrap .sidebar_menu > ul > li i {margin-left:5px;}
#sidebar.on .sidebar_wrap .sidebar_menu > ul > li .name {display:inline-block;}
#sidebar.on .sidebar_wrap .sidebar_menu > ul > li .count {display:inline-block;margin-top:0;font-size:12px;}
#sidebar.on .sidebar_wrap .sidebar_menu > ul > li .count:before {content:"(";}
#sidebar.on .sidebar_wrap .sidebar_menu > ul > li .count:after {content:")";}
#sidebar.on .sidebar_wrap .sidebar_recent_view,
#sidebar.on .sidebar_wrap .sidebar_banner {display:block;}


/* ==================================================
	footer
================================================== */
#footer {position:absolute;left:0;bottom:0;width:100%;}
#footer .footer_top {height:50px;background-color:#000;}
#footer .footer_top .footer_menu {float:left;margin:0 -10px;font-size:0;}
#footer .footer_top .footer_menu li {display:inline-block;margin:10px;}
#footer .footer_top .footer_menu li a {display:block;padding:0 5px;color:#bcbcbc;font-size:13px;font-weight:600;line-height:30px;}
#footer .footer_top .sns_link {float:right;margin:0 -7px;font-size:0;}
#footer .footer_top .sns_link li {display:inline-block;margin:7px;}
#footer .footer_top .sns_link li a {display:block;width:36px;height:36px;border-radius:18px;background-color:#bfbfbf;line-height:36px;text-align:center;}
#footer .footer_info {min-height:217px;padding:20px 0 45px;background-color:#222;color:#888;box-sizing:border-box;}
#footer .footer_info .company_info {float:left;}
#footer .footer_info address {font-size:12px;line-height:21px;}
#footer .footer_info address > span {margin-right:5px;}
#footer .footer_info address .btn {display:inline-block;padding:0 6px;border:1px solid #444;color:#666;line-height:22px;}
#footer .footer_info .copyright {margin-top:15px;font-size:11px;text-transform:uppercase;}
#footer .footer_info .app_link {margin-top:20px;}
#footer .footer_info .help_desk {float:right;width:236px;}
#footer .footer_info .help_desk .title {font-size:14px;font-weight:600;letter-spacing:-.1px;}
#footer .footer_info .help_desk .tel {margin-top:3px;color:#bf1d2d;font-size:20px;font-weight:600;letter-spacing:-.1px;}
#footer .footer_info .help_desk .info {margin-top:4px;font-family:'nanum gothic','나눔고딕',ng,sans-serif;font-size:13px;line-height:20px;}


/* ==================================================
	align
================================================== */
.ta-l {text-align:left !important;}
.ta-c {text-align:center !important;}
.ta-r {text-align:right !important;}


/* ==================================================
	hide & float & clear & block & position
================================================== */
.hide {display:none !important;}
.d-block {display:block;}
.d-iblock {display:inline-block;}
.fl-l {float:left;}
.fl-r {float:right;}
.clear:after {display:block; clear:both; content:"";}
.pos-r {position:relative;}
.pos-a {position:absolute;}
.pos-f {position:fixed;}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.ir {text-indent:100%;white-space:nowrap;overflow:hidden;}

/* ==================================================
	skip
================================================== */
a.skip{display:block;position:absolute;top:-1px;z-index:999;width:0;height:0;overflow:hidden;text-align:center}
a.skip:active,a.skip:focus{z-index:999;width:100%;height:auto;padding:5px;background:#FFF}


/* ==================================================
	margin, padding
================================================== */
.no-margin {margin:0 !important;}
.mt-5 {margin-top:5px !important}
.mt-10 {margin-top:10px !important}
.mt-15 {margin-top:15px !important}
.mt-20 {margin-top:20px !important}
.mt-25 {margin-top:25px !important}
.mt-30 {margin-top:30px !important}
.mt-35 {margin-top:35px !important}
.mt-40 {margin-top:40px !important}
.mt-45 {margin-top:45px !important}
.mt-50 {margin-top:50px !important}
.mt-60 {margin-top:60px !important}
.mt-70 {margin-top:70px !important}
.mt-80 {margin-top:80px !important}
.mt-90 {margin-top:90px !important}
.mt-100 {margin-top:100px !important}
.mr-5 {margin-right:5px !important}
.mr-10 {margin-right:10px !important}
.mr-15 {margin-right:15px !important}
.mr-20 {margin-right:20px !important}
.mr-25 {margin-right:25px !important}
.mr-30 {margin-right:30px !important}
.mr-35 {margin-right:35px !important}
.mr-40 {margin-right:40px !important}
.mr-45 {margin-right:45px !important}
.mr-50 {margin-right:50px !important}
.mr-60 {margin-right:60px !important}
.mr-70 {margin-right:70px !important}
.mr-80 {margin-right:80px !important}
.mr-90 {margin-right:90px !important}
.mr-100 {margin-right:100px !important}
.mb-5 {margin-bottom:5px !important}
.mb-10 {margin-bottom:10px !important}
.mb-15 {margin-bottom:15px !important}
.mb-20 {margin-bottom:20px !important}
.mb-25 {margin-bottom:25px !important}
.mb-30 {margin-bottom:30px !important}
.mb-35 {margin-bottom:35px !important}
.mb-40 {margin-bottom:40px !important}
.mb-45 {margin-bottom:45px !important}
.mb-50 {margin-bottom:50px !important}
.mb-60 {margin-bottom:60px !important}
.mb-70 {margin-bottom:70px !important}
.mb-80 {margin-bottom:80px !important}
.mb-90 {margin-bottom:90px !important}
.mb-100 {margin-bottom:100px !important}
.ml-5 {margin-left:5px !important}
.ml-10 {margin-left:10px !important}
.ml-15 {margin-left:15px !important}
.ml-20 {margin-left:20px !important}
.ml-25 {margin-left:25px !important}
.ml-30 {margin-left:30px !important}
.ml-35 {margin-left:35px !important}
.ml-40 {margin-left:40px !important}
.ml-45 {margin-left:45px !important}
.ml-50 {margin-left:50px !important}
.ml-60 {margin-left:60px !important}
.ml-70 {margin-left:70px !important}
.ml-80 {margin-left:80px !important}
.ml-90 {margin-left:90px !important}
.ml-100 {margin-left:100px !important}

.no-padding {padding:0px !important;}
.pt-5 {padding-top:5px !important}
.pt-10 {padding-top:10px !important}
.pt-15 {padding-top:15px !important}
.pt-20 {padding-top:20px !important}
.pt-25 {padding-top:25px !important}
.pt-30 {padding-top:30px !important}
.pt-35 {padding-top:35px !important}
.pt-40 {padding-top:40px !important}
.pt-45 {padding-top:45px !important}
.pt-50 {padding-top:50px !important}
.pt-60 {padding-top:60px !important}
.pt-70 {padding-top:70px !important}
.pt-80 {padding-top:80px !important}
.pt-90 {padding-top:90px !important}
.pt-100 {padding-top:100px !important}
.pr-5 {padding-right:5px !important}
.pr-10 {padding-right:10px !important}
.pr-15 {padding-right:15px !important}
.pr-20 {padding-right:20px !important}
.pr-25 {padding-right:25px !important}
.pr-30 {padding-right:30px !important}
.pr-35 {padding-right:35px !important}
.pr-40 {padding-right:40px !important}
.pr-45 {padding-right:45px !important}
.pr-50 {padding-right:50px !important}
.pr-60 {padding-right:60px !important}
.pr-70 {padding-right:70px !important}
.pr-80 {padding-right:80px !important}
.pr-90 {padding-right:90px !important}
.pr-100 {padding-right:100px !important}
.pb-5 {padding-bottom:5px !important}
.pb-10 {padding-bottom:10px !important}
.pb-15 {padding-bottom:15px !important}
.pb-20 {padding-bottom:20px !important}
.pb-25 {padding-bottom:25px !important}
.pb-30 {padding-bottom:30px !important}
.pb-35 {padding-bottom:35px !important}
.pb-40 {padding-bottom:40px !important}
.pb-45 {padding-bottom:45px !important}
.pb-50 {padding-bottom:50px !important}
.pb-60 {padding-bottom:60px !important}
.pb-70 {padding-bottom:70px !important}
.pb-80 {padding-bottom:80px !important}
.pb-90 {padding-bottom:90px !important}
.pb-100 {padding-bottom:100px !important}
.pl-5 {padding-left:5px !important}
.pl-10 {padding-left:10px !important}
.pl-15 {padding-left:15px !important}
.pl-20 {padding-left:20px !important}
.pl-25 {padding-left:25px !important}
.pl-30 {padding-left:30px !important}
.pl-35 {padding-left:35px !important}
.pl-40 {padding-left:40px !important}
.pl-45 {padding-left:45px !important}
.pl-50 {padding-left:50px !important}
.pl-60 {padding-left:60px !important}
.pl-70 {padding-left:70px !important}
.pl-80 {padding-left:80px !important}
.pl-90 {padding-left:90px !important}
.pl-100 {padding-left:100px !important}


/* ==================================================
	width
================================================== */
.w25-per {width:25% !important;}
.w33-per {width:33.33% !important;}
.w50-per {width:50% !important;}
.w100-per {width:100% !important;}
.w50 {width:50px !important;}
.w100 {width:100px !important;}
.w150 {width:150px !important;}
.w200 {width:200px !important;}
.w250 {width:250px !important;}
.w300 {width:300px !important;}
.w350 {width:350px !important;}
.w400 {width:400px !important;}
.w450 {width:450px !important;}
.w500 {width:500px !important;}