@charset "utf-8";

/*
css name : common
use : align,display,layout,header,footer,lnb,aside
*/

/* ==================================================
	웹 폰트
================================================== */
@font-face {font-family:OpenSans;font-weight:400;font-style:normal;src:url(../font/OpenSans-Regular.eot);src:local(※),url(../font/OpenSans-Regular.woff) format('woff')}
@font-face {font-family:OpenSans;font-weight:600;font-style:normal;src:url(../font/OpenSans-Semibold.eot);src:local(※),url(../font/OpenSans-Semibold.woff) format('woff')}
@font-face {font-family:OpenSans;font-weight:700;font-style:normal;src:url(../font/OpenSans-Bold.eot);src:local(※),url(../font/OpenSans-Bold.woff) format('woff')}
@font-face {font-family:ng;font-weight:400;font-style:normal;src:url(../font/NanumGothic.eot);src:local(※),url(../font/NanumGothic.woff) format('woff')}
@font-face {font-family:ng;font-weight:600;font-style:normal;src:url(../font/NanumGothicBold.eot);src:local(※),url(../font//font/NanumGothicBold.woff) format('woff')}


/* ==================================================
	RESET
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, xmp,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, 
mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {background-color:#fff;}
ol, ul {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
th,td {vertical-align:middle;box-sizing:border-box;}
a:link, a:visited, a:hover, a:active {color:inherit;text-decoration:none;}
b {font-weight:bold;}
strong {font-weight:600;}
input, textarea, select, button {margin:0;padding:0;font:inherit;}
button {border:0;background:none;outline:none;vertical-align:middle;cursor:pointer;}
button > span {position:relative;vertical-align:baseline;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0;border:0;}
button[disabled], input[disabled] {cursor:default;}
textarea {overflow:auto;}
textarea, input {resize:none;}
legend {visibility:hidden; font-size:0;}
audio:not([controls]) {display:none;height:0;}
svg:not(:root){overflow:hidden;}
input[type="text"]::-ms-clear,
input[type="password"]::-ms-clear{display:none;}

input[type="button"],
input[type="reset"],
input[type="submit"]{border-radius:0;-webkit-appearance:button;appearance:button;cursor:pointer;}
button,
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {border-radius:0;-webkit-border-radius:0;appearance:none;-webkit-appearance:none;}
select {-webkit-border-radius:0;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{margin:0;-webkit-appearance:none;}


/* ==================================================
	공통레이아웃
================================================== */
html,body{min-width:320px;width:100%;height:100%;background-color:#fff;color:#222;font-family:'OpenSans',OpenSans,'nanum gothic','나눔고딕',ng,sans-serif;font-size:10px;line-height:1;-webkit-text-size-adjust:none;}
body{position:relative;}
body.layer_open {overflow:hidden;}
body.lyr_open #page {position:fixed;left:0;right:0;bottom:0;overflow:hidden;}
img{max-width:100%;}
.ir-blind{overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;}
.ir-indent{overflow:hidden;font-size:0;text-indent:-9999px;}
.ir-wa{position:relative;z-index:-1;}
#header {position:fixed;left:0;top:0;z-index:50;width:100%;}
#page {overflow:auto;width:100%;min-height:100%;-webkit-overflow-scrolling:touch;}
#footer {background-color:#222;}
.btm_fix {position:fixed;left:0;bottom:0;z-index:50;width:100%;}


/* ==================================================
	header
================================================== */
#header .header {position:relative;background:#222;color:#fff;}
#header .header .logo {height:48px;padding:0 82px;}
#header .header .logo a {display:block;width:100%;height:100%;line-height:48px;text-align:center;}
#header .header .logo a img {max-height:18px;vertical-align:middle;}
#header .header div[class^="btn_"] a,
#header .header div[class^="btn_"] button {display:inline-block;padding:9px;vertical-align:middle;}
#header .header .btn_lnb {position:absolute;left:5px;top:8px;}
#header .header .btn_cart {position:absolute;right:5px;top:7px;}
#header .header .btn_search_wrap {position:absolute;right:43px;top:6px;}
#header .gnb {height:47px;padding:0 8px;background:#fff;border-bottom:2px solid #000;}
#header .gnb ul {font-size:0;}
#header .gnb ul li {position:relative;display:inline-block;font-size:1.4rem;font-weight:600;}
#header .gnb ul li a {display:block;line-height:45px;}
#header .gnb ul li.on:after {position:absolute;left:0;bottom:-2px;display:block;width:100%;height:4px;background:#bf1d2d;content:"";}
#header.pagetop .header .btn_search_wrap {position:static;margin:-2px 14px 0;padding-bottom:9px;}
#header.pagetop .header .btn_search_wrap .btn_search {width:100%;height:35px;padding:6px 14px;border:2px solid #888;border-radius:18px;text-align:right;}

.layer-dimm-wrap.layer_search .layer-inner {left:0;top:0;width:100%;height:100%;border:0;transform:none;-webkit-transform:none;}
.layer-dimm-wrap.layer_search .layer-inner .btn-close {right:10px;top:10px;z-index:1;width:40px;height:40px;background-image:url(../img/btn/btn_pop_cls.png);background-size:21px;}
.layer-dimm-wrap.layer_search .layer-inner .layer-content {overflow-y:auto;position:relative;top:0;height:100%;padding:59px 0 77px;}
.layer_search .searchbox_wrap {position:absolute;left:0;top:0;width:100%;padding:10px 58px 10px 10px;background-color:#222;}
.layer_search .searchbox_wrap .searchbox {position:relative;padding-right:48px;border:2px solid #e8e8e8;border-radius:38px;}
.layer_search .searchbox_wrap .searchbox input {width:100%;padding-left:15px;background:none;border:0;color:#fff;}
.layer_search .searchbox_wrap .searchbox button {position:absolute;right:0;top:0;width:48px;height:100%;}
.layer_search .search_keyword {padding:19px 10px 10px;}
.layer_search .search_keyword .recent_keyword .list {margin:20px 2px 0 6px;}
.layer_search .search_keyword .recent_keyword .list li {position:relative;margin-bottom:10px;padding-right:30px;}
.layer_search .search_keyword .recent_keyword .list li a {display:block;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#666;font-size:1.3rem;line-height:27px;}
.layer_search .search_keyword .recent_keyword .list li .keyword_del {position:absolute;right:0;top:0;width:27px;height:100%;background:url(../img/btn/btn_keyword_del.gif) no-repeat 50%;background-size:11px;text-indent:-9999px;}
.layer_search .search_keyword .recent_keyword .btn_area {margin-top:20px;padding-top:15px;border-top:1px solid #e8e8e8;text-align:right;}
.layer_search .search_keyword .recent_keyword .btn_area .keyword_all_del {color:#666;font-size:1.3rem;}
.layer_search .search_keyword .hot_keyword {padding:20px 0 10px;border-bottom:1px solid #e8e8e8;}
.layer_search .search_keyword .hot_keyword .list {float:left;width:50%;}
.layer_search .search_keyword .hot_keyword .list li {width:100%;margin-bottom:10px;padding-left:7px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#666;font-size:1.3rem;line-height:27px;}
.layer_search .search_keyword .hot_keyword .list li .num {display:inline-block;width:20px;}
.layer_search .barcode_wrap {position:absolute;left:0;bottom:0;width:100%;padding:0 10px 25px;}
.layer_search .barcode_wrap .btn-basic {width:100%;}
.layer_search .barcode_wrap .btn-basic img {height:16px;margin-right:7px;vertical-align:middle;}


/* ==================================================
	LNB
================================================== */
.lnb_wrap {width:100%;height:100%;}
.lnb_wrap .lnb_top {position:fixed;left:0;top:0;z-index:10;width:100%;height:58px;padding:11.5px 10px;background-color:#222;color:#fff;font-size:1.5rem;}
.lnb_wrap .lnb_top .btn-point {width:70px;}
.lnb_wrap .lnb_top .func_menu {position:absolute;right:61px;top:11px;}
.lnb_wrap .lnb_top .func_menu a {display:inline-block;padding:8px;}
.lnb_wrap .lnb_top .btn_close {position:absolute;right:10px;top:10px;padding:9px;}
.lnb_wrap .lnb_top .btn_close img {width:21px;}
.lnb_wrap .lnb_top .grade {display:inline-block;height:30px;vertical-align:middle;}
.lnb_wrap .lnb_top .grade img {max-height:100%;}
.lnb_wrap .lnb_top .name {display:inline-block;margin-left:10px;vertical-align:middle;}
.lnb_wrap .lnb_con {overflow-y:auto;height:100%;padding-top:58px;-webkit-overflow-scrolling:touch;}
.lnb_wrap .lnb_con .util_menu {position:relative;}
.lnb_wrap .lnb_con .util_menu:after {position:absolute;left:0;bottom:0;display:block;width:100%;height:1px;background-color:#d3d3d3;content:"";}
.lnb_wrap .lnb_con .util_menu li {float:left;width:33.33%;border:1px solid #e8e8e8;border-width:0 1px 1px 0;text-align:center;}
.lnb_wrap .lnb_con .util_menu li:nth-of-type(3n) {border-right:0;}
.lnb_wrap .lnb_con .util_menu li a {display:block;padding:10px 10px 13px;}
.lnb_wrap .lnb_con .util_menu li .icon {display:block;height:26px;}
.lnb_wrap .lnb_con .util_menu li .icon:before {display:inline-block;height:100%;vertical-align:middle;content:"";}
.lnb_wrap .lnb_con .util_menu li .icon i {vertical-align:middle;}
.lnb_wrap .lnb_con .util_menu li .tit {display:block;margin-top:6px;font-size:1.3rem;}
.lnb_wrap .lnb_con .additional_menu {padding:18.5px 0;background-color:#f5f5f5;text-align:center;}
.lnb_wrap .lnb_con .additional_menu ul {font-size:0;}
.lnb_wrap .lnb_con .additional_menu li {display:inline-block;width:50%;height:28px;border-left:1px solid #d3d3d3;font-size:1.4rem;line-height:28px;}
.lnb_wrap .lnb_con .additional_menu li:first-of-type {border-left:0;}
.lnb_wrap .lnb_con .additional_menu li .icon {display:inline-block;}
.lnb_wrap .lnb_con .additional_menu li .tit {display:inline-block;margin-left:5px;}
.lnb_wrap .lnb_con .category_menu {padding-top:8px;border-top:1px solid #444;}
.lnb_wrap .lnb_con .category_menu .main_category > li {border-bottom:1px solid #d3d3d3;font-size:1.6rem;font-weight:600;}
.lnb_wrap .lnb_con .category_menu .main_category > li > a {display:block;padding:14px 20px;}
.lnb_wrap .lnb_con .category_menu .sub_category {display:none;padding:9px 0;border-top:1px solid #d3d3d3;}
.lnb_wrap .lnb_con .category_menu .sub_category > li {margin-bottom:5px;font-size:1.4rem;font-weight:normal;}
.lnb_wrap .lnb_con .category_menu .sub_category > li:last-of-type {margin-bottom:0;}
.lnb_wrap .lnb_con .category_menu .sub_category > li > a {display:block;padding:9px 20px;}
.lnb_wrap .lnb_con .content_menu {position:relative;}
.lnb_wrap .lnb_con .content_menu:after {position:absolute;left:0;bottom:0;display:block;width:100%;height:1px;background-color:#d3d3d3;content:"";}
.lnb_wrap .lnb_con .content_menu ul {border-top:1px solid #d3d3d3;}
.lnb_wrap .lnb_con .content_menu li {float:left;width:50%;border:1px solid #d3d3d3;border-width:0 1px 1px 0;font-size:1.5rem;line-height:16px;}
.lnb_wrap .lnb_con .content_menu li:nth-of-type(2n) {border-right:0;}
.lnb_wrap .lnb_con .content_menu li a {position:relative;display:block;padding:14px 20px;}
.lnb_wrap .lnb_con .content_menu li a:after {position:absolute;right:13px;top:0;display:block;width:7px;height:100%;background:url(../img/btn/btn_lnb_rarr.png) no-repeat 50%;background-size:100% auto;content:"";}
.lnb_wrap .lnb_con .content_menu:before,
.lnb_wrap .lnb_con .recent_view:before {display:block;width:100%;height:10px;background-color:#f5f5f5;content:"";}
.lnb_wrap .lnb_con .recent_view .tit {border-top:1px solid #000;border-bottom:1px solid #d3d3d3;font-size:1.6rem;font-weight:600;line-height:17px;}
.lnb_wrap .lnb_con .recent_view .tit a {position:relative;display:block;padding:13px 20px;}
.lnb_wrap .lnb_con .recent_view .tit a:after {position:absolute;right:13px;top:0;display:block;width:7px;height:100%;background:url(../img/btn/btn_lnb_rarr.png) no-repeat 50%;background-size:100% auto;content:"";}
.lnb_wrap .lnb_con .recent_view .con {overflow-x:auto;padding:9px 0;white-space:nowrap;-webkit-overflow-scrolling:touch;}
.lnb_wrap .lnb_con .recent_view .con ul {font-size:0;}
.lnb_wrap .lnb_con .recent_view .con li {display:inline-block;width:100px;height:100px;margin-right:7px;}
.lnb_wrap .lnb_con .recent_view .con li:last-of-type {margin-right:0;}


/* ==================================================
	footer
================================================== */
#footer .footer_top {padding:0 27px;background-color:#000;}
#footer .footer_top .footer_menu li {display:inline-block;color:#fff;font-size:1.3rem;line-height:45px;}
#footer .footer_info {padding:20px 8px 30px;text-align:center;}
#footer .footer_info .sns_link {font-size:0;}
#footer .footer_info .sns_link li {display:inline-block;margin:0 7px;}
#footer .footer_info .sns_link li a {display:block;width:40px;height:40px;border-radius:20px;background-color:#bfbfbf;line-height:40px;}
#footer .footer_info .footer_menu {margin-top:23px;}
#footer .footer_info .footer_menu li {display:inline-block;color:#bcbcbc;font-size:1.3rem;}
#footer .footer_info .company_info {margin-top:17px;color:#888;font-size:1.1rem;line-height:16px;}
#footer .footer_info .company_info address {text-align:left;}
#footer .footer_info .company_info address .btn {display:inline-block;padding:0 7px;border:1px solid #444;color:#666;line-height:23px;}
#footer .footer_info .company_info .copyright {margin-top:4px;font-size:1rem;text-transform:uppercase;}
#footer .footer_info .company_info .app_link {margin-top:22px;}
#footer .footer_info .company_info .app_link img {width:97px;}

/* 퀵 버튼 영역 */
.quick_btn_wrap {display:none;position:relative;}
.quick_btn_wrap a {display:block;width:35px;height:35px;}
.quick_btn_wrap a.prev_btn {position:fixed;left:8px;bottom:9px;z-index:50;}
.quick_btn_wrap a.top_btn {position:fixed;right:8px;bottom:9px;z-index:50;}


/* ==================================================
	align
================================================== */
.ta-l {text-align:left !important;}
.ta-c {text-align:center !important;}
.ta-r {text-align:right !important;}
.ta-j {text-align:justify !important;text-justify:inter-cluster;font-size:0;}
.ta-j:after {display:inline-block;width:100%;height:0;content:"";}

/* ==================================================
	hide & float & clear
================================================== */
.hide {display:none !important;}
.d-block {display:block;}
.d-iblock {display:inline-block;}
.d-inline {display:inline;}
.fl-l {float:left;}
.fl-r {float:right;}
.clear:after {display:block; clear:both; content:"";}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.v-hidden {visibility:hidden; font-size:0px; height:0px; text-indent:-9999px;}

/* ==================================================
	skip
================================================== */
a.skip{display:block;position:absolute;top:-1px;z-index:999;width:0;height:0;overflow:hidden;text-align:center}
a.skip:active,a.skip:focus{z-index:999;width:100%;height:auto;padding:5px;background:#FFF}

/* ==================================================
	margin, padding
================================================== */
.no-margin {margin:0 !important;}
.mt-5 {margin-top:5px !important}
.mt-10 {margin-top:10px !important}
.mt-15 {margin-top:15px !important}
.mt-20 {margin-top:20px !important}
.mt-25 {margin-top:25px !important}
.mt-30 {margin-top:30px !important}
.mt-35 {margin-top:35px !important}
.mt-40 {margin-top:40px !important}
.mt-45 {margin-top:45px !important}
.mt-50 {margin-top:50px !important}
.mr-5 {margin-right:5px !important}
.mr-10 {margin-right:10px !important}
.mr-15 {margin-right:15px !important}
.mr-20 {margin-right:20px !important}
.mr-25 {margin-right:25px !important}
.mr-30 {margin-right:30px !important}
.mr-35 {margin-right:35px !important}
.mr-40 {margin-right:40px !important}
.mr-45 {margin-right:45px !important}
.mr-50 {margin-right:50px !important}
.mb-5 {margin-bottom:5px !important}
.mb-10 {margin-bottom:10px !important}
.mb-15 {margin-bottom:15px !important}
.mb-20 {margin-bottom:20px !important}
.mb-25 {margin-bottom:25px !important}
.mb-30 {margin-bottom:30px !important}
.mb-35 {margin-bottom:35px !important}
.mb-40 {margin-bottom:40px !important}
.mb-45 {margin-bottom:45px !important}
.mb-50 {margin-bottom:50px !important}
.ml-5 {margin-left:5px !important}
.ml-10 {margin-left:10px !important}
.ml-15 {margin-left:15px !important}
.ml-20 {margin-left:20px !important}
.ml-25 {margin-left:25px !important}
.ml-30 {margin-left:30px !important}
.ml-35 {margin-left:35px !important}
.ml-40 {margin-left:40px !important}
.ml-45 {margin-left:45px !important}
.ml-50 {margin-left:50px !important}

.no-padding {padding:0px !important;}
.pt-5 {padding-top:5px !important}
.pt-10 {padding-top:10px !important}
.pt-15 {padding-top:15px !important}
.pt-20 {padding-top:20px !important}
.pt-25 {padding-top:25px !important}
.pt-30 {padding-top:30px !important}
.pt-35 {padding-top:35px !important}
.pt-40 {padding-top:40px !important}
.pt-45 {padding-top:45px !important}
.pt-50 {padding-top:50px !important}
.pr-5 {padding-right:5px !important}
.pr-10 {padding-right:10px !important}
.pr-15 {padding-right:15px !important}
.pr-20 {padding-right:20px !important}
.pr-25 {padding-right:25px !important}
.pr-30 {padding-right:30px !important}
.pr-35 {padding-right:35px !important}
.pr-40 {padding-right:40px !important}
.pr-45 {padding-right:45px !important}
.pr-50 {padding-right:50px !important}
.pb-5 {padding-bottom:5px !important}
.pb-10 {padding-bottom:10px !important}
.pb-15 {padding-bottom:15px !important}
.pb-20 {padding-bottom:20px !important}
.pb-25 {padding-bottom:25px !important}
.pb-30 {padding-bottom:30px !important}
.pb-35 {padding-bottom:35px !important}
.pb-40 {padding-bottom:40px !important}
.pb-45 {padding-bottom:45px !important}
.pb-50 {padding-bottom:50px !important}
.pl-5 {padding-left:5px !important}
.pl-10 {padding-left:10px !important}
.pl-15 {padding-left:15px !important}
.pl-20 {padding-left:20px !important}
.pl-25 {padding-left:25px !important}
.pl-30 {padding-left:30px !important}
.pl-35 {padding-left:35px !important}
.pl-40 {padding-left:40px !important}
.pl-45 {padding-left:45px !important}
.pl-50 {padding-left:50px !important}


/* ==================================================
	width
================================================== */
.w20-per {width:20%;}
.w25-per {width:25%;}
.w33-per {width:33.33%;}
.w50-per {width:50%;}
.w100-per {width:100%;}

.w50 {width:50px;}
.w100 {width:100px;}
.w150 {width:150px;}
.w200 {width:200px;}
.w250 {width:250px;}
.w300 {width:300px;}
.w350 {width:350px;}
.w400 {width:400px;}
.w450 {width:450px;}
.w500 {width:500px;}