@charset "utf-8";

/*
css name : component
use : list,title,btn,table,select,input,page,linemap
*/

/* component.css 는 버튼,테이블,인풋,페이징,타이틀등 요소별로 가져다 쓰기 편하게 모아놓습니다. */

/* ==================================================
	포인트 컬러
================================================== */
/* 사이트 포인트 컬러 */
.point-color {color:#bf1d2d !important;}

/* 메인 폰트 컬러 */
.basic-color1 {color:#222 !important;}
.basic-color2 {color:#666 !important;}
.basic-color3 {color:#888 !important;}
.basic-color4 {color:#a0a0a0 !important;}

/* ==================================================
	btn
================================================== */
/* 포인트컬러형 */
.btn-point {display:inline-block;padding:0 10px;line-height:33px;border:1px solid #bf1d2d;background:#bf1d2d;text-align:center;color:#fff !important;font-size:1.3rem;cursor:pointer;}
.btn-blk {display:inline-block;padding:0 10px;line-height:33px;border:1px solid #000;background:#000;text-align:center;color:#fff !important;font-size:1.3rem;cursor:pointer;}

/* 기본형 */
.btn-basic {display:inline-block;padding:0 10px;line-height:33px;border:1px solid #9f9f9f;background:#9f9f9f;text-align:center;color:#fff !important;font-size:1.3rem;cursor:pointer;}
.btn-basic.line {border-color:#ddd;background:#f5f5f5;color:#888 !important;}

/* 라인형 */
.btn-line {display:inline-block;padding:0 10px;line-height:33px;border:1px solid #656565;background:#fff;text-align:center;color:#000 !important;font-size:1.3rem;cursor:pointer;}

/* 기능형 */
.btn-function {display:inline-block;min-width:70px;padding:0 10px;line-height:28px;border:1px solid #606060;background:#606060;color:#fff !important;font-size:1.3rem;cursor:pointer;}

.btn-my-basic,
.btn-my-line,
.btn-my-point {display:inline-block;padding:0 5px;font-size:1.2rem;line-height:20px;text-align:center;cursor:pointer;}
.btn-my-basic {min-width:70px;border:1px solid #9f9f9f;background:#9f9f9f;color:#fff !important;}
.btn-my-line {min-width:50px;border:1px solid #d3d3d3;background:#fff;color:#222 !important;}
.btn-my-line.bg {min-width:70px;background:#f5f5f5;}
.btn-my-point {min-width:70px;border:1px solid #bf1d2d;background:#fff;color:#bf1d2d !important;}

/* 높이지정 */
.h-large {line-height:40px;font-size:1.6rem;}
.h-small {line-height:28px;}
.h-input {line-height:28px;}
.h-normal {line-height:33px; font-size:1.3rem;}

/* btn set */
.btn_area ul:after {clear:both;display:block;content:"";}
.btn_area li {float:left;width:100%;}
.btn_area li button,
.btn_area li a {width:100%;}
.btn_area .ea2 {margin-right:-8px;}
.btn_area .ea2 li {width:50%;padding-right:8px;}
.btn_area .ea3 {margin-right:-6px;}
.btn_area .ea3 li {width:33.33%;padding-right:6px;}
.btn_area .dib_type {font-size:0;text-align:center;}
.btn_area .dib_type li {float:none;display:inline-block;}

/* form btn */
.btn_place {font-size:0;text-align:center;}
.btn_place a {width:160px;margin:0 5px;padding:0 5px;}

/* 320 해상도 버튼 크기 조절 */
@media screen and (max-width:320px){
	.btn_area [class^="btn-"] { font-size:1.4rem;}
	.btn_place a {width:145px;}
}


/* ==================================================
	공통 탭
================================================== */
[data-content="content"] {display:none;}
[data-content="content"].active {display:block;}
.tab_type01 {position:relative;}
.tab_type01 .tab-menu {display:table;width:100%;}
.tab_type01 .tab-menu li {display:table-cell;width:25%;height:45px;border-top:1px solid #000;border-bottom:1px solid #e8e8e8;background-color:#fff;font-size:1.2rem;line-height:15px;text-align:center;vertical-align:middle;}
.tab_type01 .tab-menu li.on {border-color:#000;background-color:#000;color:#fff;}
.tab_type01 .tab-menu.ea4 li {width:25%;}
.tab_type01 .tab-menu.ea4 li > a {width:100%;}
.tab_type02 .tab-menu {font-size:0;text-align:center;}
.tab_type02 .tab-menu button {position:relative;display:inline-block;padding:15px 0;font-size:1.3rem;font-weight:600;}
.tab_type02 .tab-menu button:after {position:absolute;left:0;bottom:0;display:block;width:100%;height:3px;background:transparent;content:"";}
.tab_type02 .tab-menu button.active:after {background:#000;}
.tab_type03 .tab-menu:before {clear:both;display:block;content:"";}
.tab_type03 .tab-menu a,
.tab_type03 .tab-menu button {position:relative; float:left;display:block;width:50%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;border-bottom:1px solid #d3d3d3;color:#888;text-align:center;font-size:1.5rem; line-height:40px;}
.tab_type03 .tab-menu a.active,
.tab_type03 .tab-menu button.active {border-color:#000;color:#222; font-size:1.6rem; font-weight:600;}
.tab_type03 .tab-menu a.active:after,
.tab_type03 .tab-menu button.active:after {display:block; position:absolute; right:0; bottom:-1px; left:0; height:2px; background:#000; content:"";}
.tab_type03 .tab-menu.ea3 a,
.tab_type03 .tab-menu.ea3 button {width:33.33%;}
.tab_type03 .tab-menu.ea4 a,
.tab_type03 .tab-menu.ea4 button {width:25%;}


/* ==================================================
	테이블
================================================== */
/* 항목이 상단 */
.th-top {width:100%;border-top:2px solid #000;}
.th-top caption {visibility:hidden; font-size:0; height:0;}
.th-top th,
.th-top td {padding:10px 0;border-bottom:1px solid #e8e8e8;font-size:1.3rem;text-align:center;}
.th-top thead th {height:40px;font-weight:600;}
.th-top tbody td {height:42px;}
.th-top tbody td.subject {padding:10px 16px;text-align:left;}
.th-top tbody th .required:after {margin-left:3px;color:#bf1d2d;font-size:1.4rem;font-weight:bold;vertical-align:top;content:"*";}
.th-top th .ment {display:inline-block;margin-top:5px;color:#666;font-size:1.2rem;font-weight:normal;}
.th-top th.va-t {padding-top:15px !important; vertical-align:top !important;}
.th-top .bg {background:#f5f5f5;}
.th-top .end_date {color:#888;font-size:1.2rem;}

/* 항목이 좌측 */
.th-left {width:100%;border-top:2px solid #000;}
.th-left caption {visibility:hidden;font-size:0;height:0;}
.th-left tbody th {height:51px;padding:0 0 0 10px;border-bottom:1px solid #e8e8e8;background-color:#f5f5f5;font-size:1.2rem;font-weight:600;text-align:left;vertical-align:middle;}
.th-left tbody td {height:51px;padding:5px 8px;border-bottom:1px solid #e8e8e8;font-size:1.3rem;}
.th-left tbody th .required:after {margin-left:3px;color:#bf1d2d;font-size:1.4rem;font-weight:bold;vertical-align:top;content:"*";}
.th-left th.va-t {padding-top:15px; vertical-align:top !important;}
.th-left tbody td .subment {color:#888;}


/* ==================================================
	checkbox, radio, select custom
================================================== */
/* 체크박스 */
input.check {display:inline-block; content:""; margin:0px 8px 0 0; width:22px; height:22px; background:#fff; border:1px solid #d3d3d3;border-radius:0;-webkit-border-radius:0; vertical-align:middle; -webkit-appearance:none;appearance:none;outline:none;} 
input.check:checked {background:#fff url(../img/icon/checkbox_on.png) no-repeat center; background-size:14px auto;} 

/* 체크박스 + 문구 */
.checkbox {display:inline-block; position:relative; margin-top:2px; font-size:0;}
.checkbox input[type="checkbox"] {visibility:hidden; position:absolute; margin:0; width:1px; height:1px; border:none;}
.checkbox input[type="checkbox"] + label {cursor:pointer; font-size:1.2rem;}
.checkbox input[type="checkbox"] + label:before {display:inline-block; content:""; margin:-2px 8px 0 0; width:22px; height:22px; background:#fff; border:1px solid #d3d3d3; vertical-align:middle; }
.checkbox input[type="checkbox"]:checked + label:before {background:#fff url(../img/icon/checkbox_on.png) no-repeat center; background-size:14px auto;}

/* 체크박스or라디오 + 라벨(ex. 사이즈 선택) */
.check_on_label {margin:-5px;font-size:0;}
.check_on_label label {position:relative;display:inline-block;width:60px;height:30px;margin:5px;text-align:center;}
.check_on_label input {position:absolute;left:0;top:0;width:100%;height:100%;border:1px solid #c3c3c3;border-radius:0;-webkit-border-radius:0;background-color:#fff;appearance:none;-webkit-appearance:none;outline:none;}
.check_on_label span {position:relative;font-size:1.2rem;line-height:28px;}
.check_on_label input:checked {border-color:#000;}
.check_on_label input:checked + span {font-weight:600;}
.check_on_label input:disabled {border-color:#e5e5e5;background-color:#e5e5e5;color:#a0a0a0;}

/* 라디오 */
input.radio {display:inline-block; content:""; margin:-2px 8px 0 0; width:22px; height:22px; border-radius:11px;background:#f5f5f5;border:1px solid #d4d4d4; vertical-align:middle; -webkit-appearance:none;appearance:none;outline:none;} 
input.radio:checked {background:#fff url(../img/icon/radio_on.png) no-repeat center; background-size:14px auto;} 

/* 라디오 + 문구 */
.radio {display:inline-block; position:relative; font-size:0;}
.radio input[type="radio"] {visibility:hidden; position:absolute; margin:0; width:1px; height:1px; border:none;}
.radio input[type="radio"] + label {cursor:pointer;color:#222;font-size:1.3rem;}
.radio input[type="radio"] + label:before {display:inline-block;width:22px;height:22px;margin:-2px 8px 0 0;border-radius:11px;background:#f5f5f5;border:1px solid #d4d4d4;vertical-align:middle;box-sizing:border-box;content:"";}
.radio input[type="radio"]:checked + label:before {background:#f5f5f5 url(../img/icon/radio_on.png) no-repeat center; background-size:14px;}
.radio input[type="radio"]:disabled + label {color:#888;cursor:default;}
.radio input[type="radio"]:disabled + label:before {background-color:#e5e5e5;}

/* 기본 셀렉트 */
select {height:35px;padding:0 10px;border:1px solid #c3c3c3;color:#222; background:#fff; font-size:1.2rem; vertical-align:middle; line-height:normal;outline:none;} 

/* 커스텀 셀렉트 */
.select_def {height:35px;padding:0 25px 0 10px;border:1px solid #c3c3c3;background:#fff url(../img/btn/btn_select_darr.gif) no-repeat 100% 50%;background-size:25px;color:#222;font-size:1.2rem;line-height:normal;outline:none;appearance:none;-webkit-appearance:none;} 

/* select wrap(분할) */
.wrap_select ul {margin-right:-5px;}
.wrap_select ul:after {clear:both;display:block;content:"";}
.wrap_select li {float:left;width:100%;padding-right:5px;}
.wrap_select select {width:100%;}
.wrap_select .ea2 li {width:50%;}
.wrap_select .ea3 li {width:33.33%;}


/* ==================================================
	input
================================================== */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="search"] {padding:0 10px;height:35px;border:1px solid #c3c3c3;font-size:1.3rem;vertical-align:middle; box-sizing:border-box;}
input[type="text"]:disabled {border-color:#e8e8e8;background-color:#f5f5f5;color:#888;}
input::-ms-input-placeholder,
input::-webkit-input-placeholder,
input:disabled::-ms-input-placeholder,
input:disabled::-webkit-input-placeholder {color:#888;}
textarea {padding:10px;border:1px solid #c3c3c3; box-sizing:border-box;}


/* ==================================================
	파일 찾기, 이미지 업로드
================================================== */
.upload_img_info {margin-top:7px;color:#666;font-size:1.2rem;line-height:18px;}

/* file name preview */
.filebox {position:relative; padding-right:65px;}
.filebox.no-photo .upload-display {display:none !important;}
.filebox input[type="file"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}
.filebox label {cursor: pointer;}
.filebox .btn-function {position:absolute; top:0; right:0; min-width:60px; width:60px;margin-left:1px;vertical-align:top; text-align:center;}
.filebox .upload_name { display: inline-block; height:35px; width:100%; padding:0 10px; background-color: #fff; border: 1px solid #c3c3c3;border-radius:0;-webkit-border-radius:0; -webkit-appearance: none; -moz-appearance: none; appearance: none; box-sizing:border-box;}

/* imaged preview */
.box-photoUpload {margin:0 -4px;}
.filebox.preview-image {float:left;width:25%;padding:0 4px;}
.filebox.preview-image > div {position:relative;}
.filebox .photoBox {position:relative;display:block;width:100%;height:0;padding-bottom:100%;border:1px solid #d3d3d3; cursor:pointer;  text-align:center;}
.filebox .photoBox span {display:block; content:""; position:absolute; top:50%; left:50%; z-index:10; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); }
.filebox .photoBox + .del {display:none; position:absolute; top:0; right:0; width:20px; height:20px; background:rgba(0,0,0,.8) url(../img/btn/btn_delete_w.png) no-repeat center;background-size:11px;cursor:pointer}
.filebox .photoBox.after {position:absolute; top:0; left:0; background:none;}
.filebox .photoBox.after span {font-size:0;  opacity:0;}
.filebox .photoBox.after + .del {display:block;}
.filebox .upload-thumb-wrap {position:relative; display:block;width:100%;height:0;padding-bottom:100%;border:1px solid #d3d3d3;}
.filebox .upload-display {overflow:hidden;}
.filebox .upload-display img {display:block;position:absolute;top:0;left:0;width:100%;height:100%;}


/* ==================================================
	수량 조절
================================================== */
.quantity {display:inline-block; position:relative;}   
.quantity input {padding: 0;width: 165px;height: 35px;border:1px solid #d3d3d3;text-align:center;color:#222;vertical-align: baseline;font-size:1.3rem;} 
.quantity button {position:absolute;top:1px;width: 34px;height: 33px;background:#fff;text-indent:-9999px;} 
.quantity .minus {left:1px;border-right:1px solid #d3d3d3;} 
.quantity .plus:before, 
.quantity .minus:before {display:block;content:"";position:absolute;top: 15px;left: 9px;width: 15px;height: 1px;background:#000;} 
.quantity .plus {right:1px;border-left:1px solid #d3d3d3;} 
.quantity .plus:after {display:block;content:"";position:absolute;top: 9px;left: 16px;width: 1px;height: 14px;background:#000;}


/* ==================================================
	slide pager custom
================================================== */
.bx-wrapper {position:relative;}
.with-rolling .bx-pager {position:absolute;left:0;bottom:10px;width:100%;font-size:0;text-align:center;}
.with-rolling .bx-pager .bx-pager-item {display:inline-block;margin:0 4px;}
.with-rolling .bx-pager .bx-pager-item .bx-pager-link {display:block;width:7px;height:7px;border-radius:4px;background-color:rgba(204,204,204,.6);text-indent:-9999px;}
.with-rolling .bx-pager .bx-pager-item .bx-pager-link.active {width:17px;background-color:#000;}
.with-btn .bx-prev,
.with-btn .bx-next {position:absolute;top:50%;display:block;width:35px;height:35px;border-radius:18px;background:rgba(0,0,0,.6) url(../img/btn/btn_slide_coltrol.png) no-repeat;background-size:70px 35px;text-indent:-9999px;transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.with-btn .bx-prev {left:5px;background-position:0 0;}
.with-btn .bx-next {right:5px;background-position:-35px 0;}


/* ==================================================
	title
================================================== */
/* 지붕 모양 스타일 */
.roof-title {position:relative;height:18px;margin:0 8px 20px;background:url(../img/common/bg_roof_title01.gif) repeat-x 0 50%;background-size:auto 7px;}
.roof-title span {position:absolute;left:50%;top:0;padding:0 15px;background:#fff;font-size:1.8rem;font-weight:700;white-space:nowrap;transform:translateX(-50%);-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);}
.roof-title span img {margin-right:3px;vertical-align:middle;}


/* ==================================================
	breadcrumb
================================================== */
.breadcrumb {font-size:0;text-align:center;}
.breadcrumb li {display:inline-block;font-size:1.6rem;vertical-align:top;}
.breadcrumb li a {color:#a0a0a0;}
.breadcrumb li a:after {display:inline-block;width:0;height:0;margin-left:8px;border-top:5px solid #a0a0a0;border-left:5px solid transparent;border-right:5px solid transparent;vertical-align:middle;content:"";}
.breadcrumb li.on a:after {border-top:0;border-bottom:5px solid #a0a0a0;}
.breadcrumb li:last-of-type a {color:#222;}
.breadcrumb li:last-of-type a:after {border-top-color:#222;}
.breadcrumb li:last-of-type.on a:after {border-bottom-color:#222;}
.breadcrumb li:before {margin:0 17px;color:#a0a0a0;content:">";}
.breadcrumb li:first-of-type:before {content:none;}


/* ==================================================
	paging
================================================== */
.list-paginate {font-size:0;text-align:center;} 
.list-paginate a {display:inline-block;width:23px;height:23px;margin:0 6px;border-radius:2px;color:#222;line-height:23px;font-family:'nanum gothic','나눔고딕',ng,sans-serif;font-size:1.2rem;text-align:center;}
.list-paginate a.prev-all,
.list-paginate a.prev,
.list-paginate a.next,
.list-paginate a.next-all {margin:0 2px;background:url(../img/btn/btn_paginate_arr.png) no-repeat;background-size:92px 46px;text-indent:-9999px;}
.list-paginate a.prev-all {background-position:0 0;}
.list-paginate a.prev {margin-right:3px;background-position:-23px 0;}
.list-paginate a.next {margin-left:3px;background-position:-46px 0;}
.list-paginate a.next-all {background-position:-69px 0;}
.list-paginate a.on {background-color:#222;color:#fff;}
.list-paginate a.prev-all.disabled,
.list-paginate a.prev.disabled,
.list-paginate a.next.disabled,
.list-paginate a.next-all.disabled {background-position-y:-23px;}
.list-paginate a.prev-all.on,
.list-paginate a.prev.on,
.list-paginate a.next.on,
.list-paginate a.next-all.on {background-color:transparent;}


/* ==================================================
	별점
================================================== */
.rating {position:relative;display:inline-block;width:150px;font-size:0;vertical-align:middle;}
.rating-input {float:right;margin:0 0 0 -30px;padding:0;width:30px;height:21px;opacity:0;}
.rating-input:checked ~ .rating-star {background:url('../img/icon/icon_rating_on.png') 50% 0;background-size:30px auto;}
.rating-star {position:relative;float:right;display:block;width:30px;height:21px;background:url('../img/icon/icon_rating_off.png') 50% 0;background-size:30px auto;}
.rating-input:checked ~ .rating-star span {display:block;}
.rating-star span {display:none;position:absolute;top:0;width:23px;background:#fff;color:#bf1d2d;font-size:1.5rem;font-weight:600;line-height:21px;text-align:center;}
.rating-star span em {font-size:0;}
.rating-star.score1 span {right:-150px; z-index:1;}
.rating-star.score2 span {right:-120px; z-index:2;}
.rating-star.score3 span {right:-90px; z-index:3;}
.rating-star.score4 span {right:-60px; z-index:4;}
.rating-star.score5 span {right:-30px; z-index:5;}

/* ==================================================
	Layer pop
================================================== */
.layer-dimm-wrap {display:none; position:fixed; z-index:500; width:100%; height:100%; top:0; left:0; font-size:1.2rem; background:rgba(0,0,0,.5);}
.layer-dimm-wrap .layer-inner {position:absolute; top:0; right:0; bottom:0; left:0;  background:#fff; font-family:'nanum gothic','나눔고딕',ng,sans-serif; }
.layer-dimm-wrap .layer-inner .layer-title {background:#222;color:#fff;font-size:1.7rem;font-weight:600;line-height:48px;text-align:center;}
.layer-dimm-wrap .layer-inner .layer-title.hidden {visibility:hidden; padding-top:39px; font-size:0px; line-height:0px;}
.layer-dimm-wrap .layer-inner .popup-summary p { text-align:center; color:#666; font-size:1.3rem; line-height:19px;}
.layer-dimm-wrap .layer-inner .btn-close {position:absolute; top:14px; right:16px; width:20px; height:20px; background:url(../img/icon/layer_close_wh.png) no-repeat center; text-indent:-9999px; background-size:20px auto; cursor:pointer}
.layer-dimm-wrap .layer-inner .layer-content {position:absolute; overflow-y:auto; overflow-x:hidden; top:48px; right:0; bottom:0; left:0; padding:20px 8px; -webkit-overflow-scrolling:touch;}
.layer-dimm-wrap .layer-inner .layer-content .btn_place {font-size:0;text-align:center;}
.layer-dimm-wrap .layer-inner .layer-content .btn_place button {width:140px;margin:0 5px;}

/* 320 해상도 타이틀 조절 */
@media screen and (max-width:320px){
	.layer-dimm-wrap .layer-inner .layer-title { font-size:1.6rem;}
}

/* ==================================================
	분할
================================================== */
.divide-box-wrap {position:relative;}
.divide-box-wrap:after {position:absolute; bottom:0; left:0; right:0; height:1px; background:#d3d3d3; content:"";}
.divide-box {position:relative;border:1px solid #d3d3d3;border-top:1px solid #000;border-bottom:none;}
.divide-box:before {display:block;content:"";position:absolute; top:0; bottom:0; width:1px; background:#d3d3d3;}
.divide-box:after {clear:both;display:block;content:"";}
.divide-box li {display:block; float:left; border:1px solid #d3d3d3; border-width:0px 1px 1px 0px; text-align:center;}
.divide-box li a {position:relative;display:block;font-size:1.3rem;line-height:37px;}
.divide-box li a.active {border-color:#000;background:#000;color:#fff;} 
.divide-box-wrap.two .divide-box:before {right:50%; }
.divide-box-wrap.two .divide-box li { width:50%;}
.divide-box-wrap.two .divide-box li:nth-child(2n+2) {border-right:none;}
.divide-box-wrap.three .divide-box:before {right:33.33%;}
.divide-box-wrap.three .divide-box li { width:33.33%;}
.divide-box-wrap.three .divide-box li:nth-child(3n+3) {border-right:none;}
.divide-box-wrap.four:before {display:block;content:"";position:absolute; top:0; left:50%; bottom:0; margin-left:-1px; width:1px; background:#d3d3d3;}
.divide-box-wrap.four .divide-box:before {right:25%;}
.divide-box-wrap.four .divide-box li { width:25%;}
.divide-box-wrap.four .divide-box li:nth-child(4n+4) {border-right:none;}


/* ==================================================
	상품 정렬
================================================== */
.goods-sort {position:relative;height:43px;margin:20px 0;border-bottom:1px solid #000;line-height:42px;text-align:center;}
.goods-sort .total-ea {position:absolute;top:0;left:8px;font-family:'nanum gothic','나눔고딕',ng,sans-serif;font-size:1.3rem;}
.goods-sort .total-ea strong {font-weight:600;}
.goods-sort .btn_filter {font-size:1.4rem;font-weight:600;}
.goods-sort .sort-by {position:absolute;top:0;right:0;font-family:'nanum gothic','나눔고딕',ng,sans-serif;}
.goods-sort .sort-by select {height:42px;border:0;vertical-align:top;}


/* ==================================================
	상품리스트
================================================== */
.goods_list_wrap {margin:-8px 4px;}
.goods_list:after {clear:both;display:block;content:"";}
.goods_list > li {float:left;width:50%;padding:8px 4px;}
.goods_wrap {position:relative;border:1px solid #e8e8e8;text-align:center;}
.goods_wrap a {display:block;}
.goods_wrap .img {overflow:hidden;position:relative;display:inline-block;width:100%;height:0;padding-bottom:100%;}
.goods_wrap .img img {position:absolute;left:50%;top:0;width:auto;height:100%;transform:translateX(-50%);-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);}
.goods_wrap .info {padding:15px 0 8px;font-family:'OpenSans',OpenSans,'nanum gothic','나눔고딕',ng,sans-serif;font-size:1.3rem;}
.goods_wrap .info .brand {font-weight:600;}
.goods_wrap .info .name {margin-top:7px;}
.goods_wrap .info .price_wrap {margin-top:9px;}
.price_wrap .del {margin-right:2px;color:#a0a0a0;font-size:1rem;}
.price_wrap .del del {margin-right:2px;font-size:1.2rem;vertical-align:-1px;}
.price_wrap .price {font-size:1.1rem;}
.price_wrap .price strong {margin-right:2px;font-size:1.4rem;font-weight:600;vertical-align:-1px;}
.goods_wrap .info .sale {height:15px;margin-top:8px;}
.goods_wrap .info .sale .label {display:inline-block;min-width:34px;padding:0 5px;background-color:#bf1d2d;border-radius:9px;color:#fff;font-size:1.2rem;line-height:18px;}
.goods_wrap .info .sale .discount {margin-left:3px;color:#bf1d2d;font-family:'nanum gothic','나눔고딕',ng,sans-serif;font-size:1.3rem;font-weight:600;}
.goods_wrap .info .tag {height:15px;margin-top:7px;}
.goods_wrap .info .tag img {max-height:100%;}
.goods_wrap .btn_goods_review {display:inline-block;margin-top:8px;}
.goods_wrap .btn_goods_review .count {margin-left:2px;color:#666;font-size:1.2rem;}
.goods_wrap .function {position:absolute; top:0; right:0; z-index:10;}
.goods_wrap .function .del {width:24px; height:24px; background:url(../img/btn/btn_topbn_cls.png) center no-repeat; background-size:14px; text-indent:-9999px;}
.goods_wrap .function .btn_like {width:29px; height:29px;}


/* ==================================================
	간단설명
================================================== */
/* 말풍선형 팝업 */
.wrap_bubble {display:inline-block;line-height:1;}
.wrap_bubble .btn_bubble {position:relative;}
.wrap_bubble .btn_bubble .btn_help {width:16px;height:16px;border-radius:8px;border:1px solid #b4b4b4;color:#555;font-size:1.2rem;line-height:14px;text-align:center;}
.wrap_bubble.on .btn_bubble:after {position:absolute;left:50%;display:block;z-index:10;width:12px;height:6px;margin:0 auto -1px;background:url(../img/common/pop_bubble_bg.gif) no-repeat 0 bottom;background-size:cover;content:"";transform:translateX(-50%);-webkit-transform:translateX(-50%);}
.pop_bubble {display:none;position:absolute;left:22px;right:22px;z-index:1;padding-top:5px;color:#222;font-weight:normal;text-align:left;}
.pop_bubble .inner {position:relative;padding:14px 10px;border:1px solid #000;background-color:#fff;}
.pop_bubble .btn_pop_close {position:absolute;right:0;top:3px;width:35px;height:35px;background:url(../img/btn/btn_layer_close.png) no-repeat center;background-size:15px;text-indent:-9999px;}
.pop_bubble .tit_pop {margin-bottom:7px;padding-right:30px;font-size:1.4rem;font-weight:600;}
.pop_bubble .txt_pop {font-size:1.2rem;line-height:18px;}
.wrap_bubble.on .pop_bubble {display:block;}
.pop_bubble .coupon_list {margin-top:15px;}
.pop_bubble .coupon_list li {position:relative;width:100%;min-height:22px;margin-top:8px;padding-right:105px;}
.pop_bubble .coupon_list li:first-of-type {margin-top:0;}
.pop_bubble .coupon_list li label {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:block;line-height:22px;}
.pop_bubble .coupon_list li button {position:absolute;right:0;top:0;}
.pop_bubble .coupon_list .btn_coupon_down.on {border-color:#282828;background-color:#282828;background-image:url(../img/icon/icon_download_on.gif);color:#fff;}
.pop_bubble .tbl_txt {font-size:1.2rem;line-height:17px;word-break:keep-all;}
.pop_bubble .tbl_txt th,
.pop_bubble .tbl_txt td {padding:4px 0;vertical-align:top;}
.pop_bubble .tbl_txt th {font-weight:600;text-align:left;}
.pop_bubble .list_txt li {position:relative;margin-top:8px;font-size:1.2rem;line-height:17px;}
.pop_bubble .list_txt li:first-of-type {margin-top:0;}
.pop_bubble .list_txt li > label {float:left;width:15%;font-weight:600;}
.pop_bubble .list_txt li > span {float:left;width:75%;}
@media screen and (max-width:320px){
	.pop_bubble {left:0;right:0;}
}


/* ==================================================
	아이콘
================================================== */
[class^="icon_"] {display:inline-block;max-width:100%;background-repeat:no-repeat;background-size:contain;vertical-align:middle;text-indent:100%;white-space:nowrap;overflow:hidden;}
.icon_lnb {width:20px;height:16px;background-image:url(../img/icon/icon_lnb.png);}
.icon_cart {width:20px;height:20px;background-image:url(../img/icon/icon_cart.png);}
.icon_cart_bk {width:20px;height:20px;background-image:url(../img/icon/icon_cart_bk.png);}
.icon_search {width:21px;height:21px;background-image:url(../img/icon/icon_search.png);}
.icon_footer_sns01 {width:9px;height:19px;background-image:url(../img/icon/icon_footer_sns01.png);}
.icon_footer_sns02 {width:16px;height:16px;background-image:url(../img/icon/icon_footer_sns02.png);}
.icon_footer_sns03 {width:19px;height:16px;background-image:url(../img/icon/icon_footer_sns03.png);}
.icon_footer_sns04 {width:17px;height:13px;background-image:url(../img/icon/icon_footer_sns04.png);}
.icon_footer_sns05 {width:7px;height:15px;background-image:url(../img/icon/icon_footer_sns05.png);}
.icon_clock {width:21px;height:20px;background-image:url(../img/icon/icon_clock.png);}
.icon_notification {width:19px;height:21px;background-image:url(../img/icon/icon_notification.png);}
.icon_setting {width:21px;height:21px;background-image:url(../img/icon/icon_setting.png);}
.icon_lnb_menu01 {width:19px;height:21px;background-image:url(../img/icon/icon_lnb_menu01.png);}
.icon_lnb_menu02 {width:20px;height:20px;background-image:url(../img/icon/icon_lnb_menu02.png);}
.icon_lnb_menu03 {width:24px;height:18px;background-image:url(../img/icon/icon_lnb_menu03.png);}
.icon_lnb_menu04 {width:18px;height:16px;background-image:url(../img/icon/icon_lnb_menu04.png);}
.icon_lnb_menu05 {width:23px;height:14px;background-image:url(../img/icon/icon_lnb_menu05.png);}
.icon_lnb_menu06 {width:20px;height:20px;background-image:url(../img/icon/icon_lnb_menu06.png);}
.icon_lnb_menu07 {width:25px;height:16px;background-image:url(../img/icon/icon_lnb_menu07.png);}
.icon_lnb_menu08 {width:21px;height:18px;background-image:url(../img/icon/icon_lnb_menu08.png);}
.icon_reset {width:17px;height:15px;background-image:url(../img/icon/icon_reset.png);}
.icon_share {width:20px;height:19px;background-image:url(../img/icon/icon_share.png);}
.icon_download {width:9px;height:10px;background-image:url(../img/icon/icon_download.gif);}
.icon_question {width:19px;height:19px;background-image:url(../img/icon/icon_question.png);}
.icon_like {width:19px;height:17px;background-image:url(../img/icon/icon_like_onoff.png);background-size:19px auto;}
.btn_like.on .icon_like {background-position:0 -17px;}
.icon_sns_url {width:24px;height:9px;background-image:url(../img/icon/icon_sns_url.png);}
.icon_qna_modify {width:10px;height:10px;background-image:url(../img/icon/icon_qna_modify.png);}
.icon_qna_del {width:8px;height:8px;background-image:url(../img/icon/icon_qna_del.png);}
.icon_lock {width:11px;height:13px;background-image:url(../img/icon/icon_lock.png);}
.icon_photo_grey {width:18px;height:15px;background-image:url(../img/icon/icon_upload_photo.gif);}
.icon_headset {width:28px;height:28px;background:url(../img/icon/icon_headset.png) no-repeat; background-size:28px auto;}